@import "aos/aos.scss";

.page-wrapper {
  visibility: hidden;
}

.js {
  .page-wrapper {
    visibility: visible;
  }
}

.animations-settled {
  @media screen and (max-width: 480px) {
    [data-aos-delay] {
      transition-delay: 0s !important;
    }
  }
}
